@import "../colors";

/* .todo-list ul {
    display: inline-block;
    list-style-type: none;
    padding: 1em;
} */

.todo-list{
    background-color: aqua;
    ul{
        display: inline-block;
        list-style-type: none;
        padding: 1em; 
    }
}


@mixin paragraph-style{
    font-size: 25;
    color: blue;
}

.interpolationExample{
    h1{
    @include paragraph-style;
    }
}

.todo-list .done {
    text-decoration: line-through;
    color: $textColor;
}

.todo-list li {
    padding: 0.1em 0.5em;
}

.todo-list li:hover {
    cursor: pointer;
    background-color: $backgroundColor;
}

.todo-list button {
    background-color:$backgroundColor;
    color:$btnTextColor;
    border: none;
    padding: 0.4em 1.0em;
    border-radius: 0.3em;
    margin-left: 1em;
}

.todo-list button:hover {
    cursor: pointer;
}

.todo-list input {
    padding: 0.4em 1.0em;
    border-radius: 0.3em;
    border: none;
}